#pane {
    -fx-background-color: #2F3259;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
#menu{
    -fx-background-color: #17192c;
}

#action {

    -fx-background-radius: 0;
    -fx-font-style: italic;
    -fx-font-size: 11;

}

#area{
    -fx-background-color: #535AB2;
    -fx-text-fill: whitesmoke;
    -fx-prompt-text-fill: whitesmoke;
}
#send{
    -fx-text-fill: whitesmoke;
    -fx-background-color: #17192c;
    -fx-background-radius: 200;
}

#edit{
    -fx-text-fill: whitesmoke;
    -fx-background-color: #17192c;
}
#send:hover{
    -fx-text-fill: whitesmoke;
    -fx-background-color: #009EFF;
    -fx-background-radius: 200;

}

#select{
    -fx-background-color: #2F3259;
    -fx-background-radius: 0;
    -fx-font-style: italic;
    -fx-font-size: 18;
}


#s_field{
    -fx-text-fill: #FC1681;
    -fx-prompt-text-fill: #FC1681;
}
